set timeout=20
set default=0

# Boot Configuration for Razzle

# The Timeout
# Razzle GRUB timeout = 20

set timeout=20
# Default Option to Chose
set default=0

# menu entry :
# 1. Normal Razzle
menuentry "Razzle 32bit Operating System" {
	multiboot /boot/start.bin
	boot
}

# 2. Reboot

menuentry "Restart" {
	reboot
}

# 3. Halt or Shutdown
#
# a unreliable shutdown
# only halt the computer, could maybe be used for "The computer is safe to shut down"
# message
# i dont know what i am gonna do!
# maybe redirect this to some vga text mode saying it safe to shut down your pc
# i really dont know!
menuentry "Halt" {
	halt
	# maybe multiboot /boot/safeshut.bin
	# i dont know
	# dont have the time for it
}